html {
    margin: 40px;
}

body {
    padding: 145px 180px;
    background-image:url('banner.png');
    background-repeat:no-repeat;
}

p {
    text-align:justify;
}

a {
    color:#4e9a06;
    text-decoration:none;
}

a:hover {
    color:6fc41c;
}
