body {
    margin: 0px;
}

h1,h2,h3,h4 {
    font-family: "Bitstream Charter", "ITC Charter", "Book Antiqua", Baskerville, "Bookman Old Style", "New Century Schoolbook", serif;
}

div.banner {
    position: absolute;
}

div#left {
    top: 42px;
    left: 28px;
}

div#right {
    top: 0px;
    right: 0px;
}

.text {
    position: absolute;
    top: 0px;
    padding: 195px 226px;
}

p {
    text-align:justify;
}

a {
    color:#4e9a06;
    text-decoration:none;
}

a:hover {
    color:6fc41c;
}
